@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --blk: #242424;
    --accent: #805FD3;
    --hover: #440AD8;
    --font-family: "Red Hat Display", sans-serif;

  }
  
  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    color: var(--accent);
  }

  a:hover {
    color: var(--hover);

  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem ;
    background-color: var(--blk);
  }


  body {
    font-family: var(--font-family);
    background-color: var(--blk);
    color: white;
    margin-left: 12.5em;
    margin-right: 12.5em;
  }

  ul {
    list-style-type: none;
  }

  nav ul {
    display: flex;
    gap: 2rem;
    font-family: Antic Slab;
    font-size: 24px;
  }

  nav a{
      color: white;
  }

.active {
      color: var(--accent);
  }

 

  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }



    .sm_icon{
        
        width: 24px;
        fill: white;
        filter: invert(98%) sepia(2%) saturate(226%) hue-rotate(229deg) brightness(118%) contrast(100%);
        /* the height is adjusted automatically*/
      }

    .sm_icon:hover{
        color: #440AD8;
        fill: #440AD8;
        filter: invert(10%) sepia(88%) saturate(7248%) hue-rotate(261deg) brightness(85%) contrast(108%);

    }


    .sm_icon_center{
        
        width: 24px;
        display:inline-block;
        margin-right: 16px;
        margin-bottom: 16px;
        filter: invert(98%) sepia(2%) saturate(226%) hue-rotate(229deg) brightness(118%) contrast(100%);
        /* the height is adjusted automatically*/
      }

      .sm_icon_center:hover{
        filter: invert(10%) sepia(88%) saturate(7248%) hue-rotate(261deg) brightness(85%) contrast(108%);
      }

    .img-wrap{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 8px;
    }

    .hero{
        font-family: Antic Slab;
        font-size: 24px;
        color: white;
    }

    .frontpage{
        font-size: 16px;
    }

    .logo{
        margin-left: -2em;
    }


    .grid-container {
        margin-top: 2em;
        display: grid;
        gap: 0px 24px;
        grid-template-columns: auto auto auto;
      }
    
      .grid-container > div {
        text-align: center;
        font-size: 30px;
      }


      .topwide {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        max-width: 683px ;

      }
      .toplong {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        max-width: 331px ;

      }
      .middle {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        max-width: 328px ;
        border-radius: 12px;
        height: 334.18px;

      }
      .sidelong {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
       max-width: 331px ;

      }
      .sidewide {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
       max-width: 683px ;
       height:350px;
    

      }
      
      .fullwidth {
        margin-top: 5px;
        padding-top: 30px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 5;
        background-color: #3D4849;
        font-family: Antic Slab;
        border-radius: 12px;
      }
      .fullwidth a {
          color: white;
      }
      
      .fullwidth p{
          font-family: "Red Hat Display";
          font-size: 16px;
          padding-bottom: 16px;
      }


      footer{
          margin-top: 32px;
          font-family: "Red Hat Display";
          text-align: center;
      }

      footer h4{
          font-weight: bold;
      }

      footer p{
          text-align: center;
      }


      .center {
        margin: auto;
        text-align: center;
        width: 50%;
        padding: 4px;
      }

      .profilepic{
        border-radius: 12px;
        width: 30%;
        float: right;
        display: inline;
        margin-top: 16px;
      }
      
      .about{
          width: 65%;
      }


      hr{
          background-color: #805FD3;
          border-color: #805FD3;
          color: var(--accent);
          margin-right: 24px;
      }



      h3{
          font-family: Antic Slab;
          font-size: 20px;
      }
    
    .aboutcol{
        width: 33%;
        display: inline-block;
    }
      