@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/***********   FONT FACES FOR REGOLA              *********/

@font-face {
  font-family: "regola";
  src: url("./woff/FTRegolaNeueTrial-Regular.woff") format('woff');
  font-weight: 100;
}

@font-face {
  font-family: "regola";
  src: url("./woff/FTRegolaNeueTrial-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "regola";
  src: url("./woff/FTRegolaNeueTrial-BoldItalic.woff");
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: "regola";
  src: url("./woff/FTRegolaNeueTrial-RegularItalic.woff");
  font-style: italic;

}

@font-face {
  font-family: "regola";
  src: url("./woff/FTRegolaNeueTrial-Medium.woff");
  font-weight: medium;

}

@font-face {
  font-family: "regola";
  src: url("./woff/FTRegolaNeueTrial-Heavy.woff");
  font-weight:600;

}


/*** Simple Reset */

*,*::before,*::after{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

/* Variables */
:root {
    --blk: #171A1E;
    --accent: #3478FF;
    --hover: #8EB8E5;
    --font-family: "regola", sans-serif;
    --packer: #02a8ef;

  }

  
  
  
  html {
    scroll-behavior: smooth;
  }

  .overflowwrapper{
    overflow-x: hidden!important;
  }

/* Nav */


  a {
    text-decoration: none;
    color: var(--accent);
  }

  a:hover {
    color: var(--hover);

  }

  .active {
    color: var(--accent)!important;
    font-weight: bold;
}

    .burger-menu {
    color: white;
    font-size: 2rem;
    border: 0;
    margin-top: 4px;
    background-color: var(--blk);
    cursor: pointer;
    display: none;
    }


/* new Stuff for nav*/

.nav-logo{
  position: fixed;
  display: flex;
  z-index: 100;
  top: 1rem;
  right: 4rem;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 4px;
  background-color:   #E7EFFF;
  color: white;
  font-size: 24px;
  transition: 0.2s;
}

.nav-logo:hover{
 
  transform: scale(1.01);
  border: 2px solid #1563FF;

}

.sm_icon_center{

  width: 24px;
  display:inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  filter: invert(98%) sepia(2%) saturate(226%) hue-rotate(229deg) brightness(118%) contrast(100%);
  /* the height is adjusted automatically*/
}

.sm_icon_center:hover{
filter: invert(75%) sepia(10%) saturate(1296%) hue-rotate(173deg) brightness(94%) contrast(91%);      }



.mobilehide{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
  display: none;
}

#title{
  color: black;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  background: #E7EFFF;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: 0.2s;
}

.hamburger:hover{
 
    transform: scale(1.01);
    border: 2px solid #1563FF;
  
}

.closeIcon .material-icons {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--blk);
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}


/***********  BODY         *********/

  body {
    font-family: var(--font-family);
    background-color: var(--blk);
    color: white;
   /* margin-left: 12.5em;
    margin-right: 12.5em;*/
    overflow-x:hidden;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #D1D1D11A 1px, transparent 1px),
      linear-gradient(to bottom, #D1D1D11A 1px, transparent 1px);
   

    
  }
  
/***********   INDEX-WRAPPER              *********/

  .blkwrapper{
    background-color: var(--blk);
    color: white;
    margin-top: 72px;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 72px;

    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto auto auto auto auto;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #D1D1D11A 1px, transparent 1px),
      linear-gradient(to bottom, #D1D1D11A 1px, transparent 1px);
  }

  .blkwrapper .onleft{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .blkwrapper .wholewidth{
    grid-column-start: 1;
    grid-column-end: 4;

  }



  .centergrid{
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 40px;
  }

  .centergrid img{
      width: 100%;
  }
  .blkwrapper .onleft img{
    max-width: 100%;
  }

  .blkwrapper h4{
    font-size: 32px;
    margin-bottom: 40px;
    grid-column-start: 1;
    grid-column-end: 2;

  }
  
  .blkwrapper .blk-description{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .blkwrapper p{
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 100;

  }

  .blkwrapper a{
    font-weight: bold;
  }

  .blkwrapper .onright{
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .blkwrapper .onrighttwo{
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .blkwrapper .onright img{
    width: 100%;
  }

  
  .whitewrapper{
 
    color: var(--blk);
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 72px;

    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto auto auto auto auto;
  }

  .fullwrap{
  
    grid-column-start: 1;
    grid-column-end: 5;

  }

  .fullwrap h4{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .fullwrap p{
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .whitewrapper h4{
    font-size: 32px;
    margin-bottom: 40px;
    
  }
  
  .whitewrapper .rightwrapper{
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .whitewrapper .leftspacer{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .whitewrapper p{
    font-size: 24px;
    margin-bottom: 40px;

  }

  .whitewrapper a{
    font-weight: bold;
  }



  .whitewrapper .onright img{
    max-width: 100%;
  }

  .archiveportal{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: #E7EFFF;
    padding: 8px;
    transition: 0.2s;
    position: fixed;
    z-index: 100;
    bottom: 1rem;
    right: 1rem;

  }

  .archiveportal:hover{
    transform: scale(1.2);
    border: 2px solid #1563FF;
  }
  .archiveportal img{
    width: 100%;
  }



  /***********   ABOUT STUFF             *********/


  iframe{
    display: flex;
       display: block;
        margin: 0 auto;

  }

  
    

    .img-wrap{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 8px;
    }

    
    

   
   



    
    .grid-container {
        margin-top: 2em;
        margin-left: 12.5em;
        margin-right: 12.5em;

        display: grid;
        gap: 16px 16px;
        grid-template-columns: auto auto auto;
      }
      .image-container {
        margin-top: 1em;
        display: grid;
        gap: 0px 0px;
        grid-template-columns: auto auto auto;
        margin-left: 2em;
      }

      .image-container img{
          max-width: 110%;
      }

      .image-container img:hover{
          transform: scale(1.5);
          transition: all .5s;
        }

      .mobile-container {
        margin-top: 2em;
        margin-bottom: 2em;
        display: none;

      }
    
      .grid-container > div {
        text-align: center;
        font-size: 24px;
      
      }

      .grid-container img:hover{
            transform: scale(1.03); 
            transition: all .15s;
        }

      .grid-item img{
          max-width: 100%;
          border-radius: 8px;
      }


      
      .fullwidth {
       
        padding-top: 24px;
        /*background-color: #3D4849;*/
        /*border: 2px solid rgba(142, 184, 229, .5)*/
        background-color: rgba(56, 61, 74, 0.6);       

        border-radius: 12px;
        max-width: 100%;
        text-align: center;
       margin-left:  12.5em;
       margin-right:  12.5em;


      }
      .fullwidth a {
          color: white;
          text-align: center;
          justify-content: center;
      }
      
      .fullwidth p{
          font-size: 16px;
          padding-bottom: 24px;
          text-align: center;
          justify-content: center;
      }

      .fullwidth b{
        text-align: center;
        justify-content: center;
        padding-bottom: 12px;
        font-size: 24px;

      }

      .fullwidth:hover{
        transform: scale(1.02); 
        background-image: linear-gradient(to right bottom, #805fd3, #747adf, #7191e5, #7aa5e6, #8eb8e5); 
        transition: transform 0.1s ease-in; 
        box-shadow:0px 0px 0px 2px white inset; 
   
    }

    .portfoliocontainer{
      margin-top: 40px;
      margin-left: 12.5em;
      margin-right: 12.5em;

      
    }

    
    
    .maxcard{
      max-width: 100%;
      margin-top: -40px;
      position: sticky;
          top: 120px;
    }


    .portfoliocontainer a{
      color: white;
    }


    .portfoliocontainer h6{
      font-weight: bold;
      font-size: 16px;

      
    }
    .portfoliocontainer h3{
      font-weight: bold;
      font-size: 20px;
      margin-left: 0px;
      
    }

    .portfoliocontainer p{
      
      font-size: 16px;
      margin-left: 0px;
      
    }

   

    .newHero{
      margin-top: 128px;
     margin-left: 128px;
     margin-right: 128px;
     margin-bottom: 128px;
     display: grid;
     column-gap: 40px;
     row-gap: 64px;
     grid-template-columns: auto auto auto auto auto;

    }

    .newHero h1{
      color: black;
      font-size: 64px;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .newHero h3{
      color: #5C5858;
      grid-column-start: 2;
      grid-column-end: 5;
      font-weight: 100;
    }
    .spacer{
    
      padding-top: 80px;
      padding-left: 200px;
      padding-right: 200px;
    }


    .index h1{
      margin-left: 0em;
    }

    .portrow{
      margin: 0 -5px;
    }

    .caserow{
      margin-top: 2em;
      display: grid;
      gap: 8px 8px;
      grid-template-columns: auto auto auto;
    }

    .column{
      float: left;
     width: 50%;
     padding: 0 10px;
    }
    .fillcolumn{
      float: left;
     width: 100%;
     padding: 0 10px;
     margin-top: 2em;
    }
    
    .tinycol{
      /*float: left;
      width: 25%;
      padding: 0 10px;
      margin-top: 2em;*/
      grid-column-start: 1;
      grid-column-end: 1;
      max-width: 100% ;
      
    }

    /*  casestudystyletwo */

    .casestudystyletwo{
      margin-left: 200px;
      margin-right:200px;
      margin-top: 40px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      flex-shrink: 0;
      max-width: 100%;

    }

    .casestudystyletwo h2{
      font-size: 32px;
      flex-shrink: 0;

      

    }

    .c2title{
      display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    }
    
    .c2title img{
      width: 90px;
      height: 89.867px;
    }

    .block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
    }

    .blockheader{
            display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
    }

    .blockheader hr{
      width: 100%;
      height: 1px;
    }



    .blockwrap{
        display: flex;
        align-items: center;
      gap: 24px;
       align-self: stretch;
    }
    .leftbh{
      flex: 1 0 0;
    }

    .rightbh{
      flex: 1 0 0;
      text-align: right;

    }
  
    .caserows{
      margin-top: 2em;
      display: flex;
      align-items: flex-start;
      gap: 80px;
      align-self: stretch;

      
    }
    .tinycols{
      /*float: left;
      width: 25%;
      padding: 0 10px;
      margin-top: 2em;*/
      max-width: 100% ;
      
    }

    .tinycols h3{
      width: 150px;
      margin: 0px;

    }

    .largecols{
      /*float: left;
      width: 75%;
      padding: 0 10px;*/
      grid-column-start: 3;
      grid-column-end: 5;
      max-width: 100% ;
    }

    .problemcard{
      display: flex;
      padding: 40px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 8px;
    border: 1px solid #02A8EF;
      background: #C4E5F3;
      color: black;
    }

    .problemcard h3{
      font-size: 12px;
    }

    .nextto{
      display: flex;
align-items: flex-start;
gap: 40px;
align-self: stretch;
margin-top: 40px;
    }

    .hmwcard{
      display: flex;
      padding: 40px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 8px;
      border: 1px solid #02A8EF;
      background: white;
      color: black;
    }

    .sidebysideportfolioimage{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;
    }

    .fullength{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      justify-content: center;
      max-width: 100%;
      display: block;
      
  }

    .split{
      max-width: 50%;
      flex: 1 0 0;
    }


    /* END OF CASESTUDY STYLE TWO          v            */

    .casestudy .tinycol h3{
      text-align: left;
      margin: 0px;
      max-width: 100%;
    }
    
    .casestudy .tinycol p{
      max-width: 100%;

    }

    .marginbox{
    margin-left: 0em;    
    margin-right: 0em;    

}



    .largecol{
      /*float: left;
      width: 75%;
      padding: 0 10px;*/
      grid-column-start: 2;
      grid-column-end: 5;
      max-width: 100% ;
    }
    

    .portrow:after {
      content: "";
      display: table;
      clear: both;
    }

    .portfoliocontainer .sidebysidecard{
      /*border: 2px solid rgba(142, 184, 229, .5);*/
      background-color: rgba(56, 61, 74, 0.6);       
      border-radius: 8px;
      margin-bottom: 40px;
      padding: 24px;
      display:inline-block;



    }

   .portfoliotitle{
      font-size: 32px;
      justify-content: center;
      text-align: center;
    }
    .portfoliosubtitle{
      font-size: 24px;
      font-weight: 400;
      text-align: center;

    }
    .portfoliocontainer .sidebysidecard  .bchip{
      margin-left: 0px;

    }
    .portfoliocontainer .sidebysidecard:hover{
      transform: scale(1.02); 
      transition:transform 0.1s ease-in;
     /* background-image: linear-gradient(to right bottom, #805fd3, #747adf, #7191e5, #7aa5e6, #8eb8e5);*/    
     background-color: rgba(56, 61, 74, 1);      
     box-shadow:0px 0px 0px 2px white inset; 

          
      /*border: 2px solid white;*/

    }

    .portfoliocontainer .sidebysidecard img{
     
      border-radius: 0px;
      max-width: 100%;
      margin-bottom: 12px;

    }

    .portfoliocontainer .longcardtype{
      /*border: 2px solid rgba(142, 184, 229, .5);*/
      background-color: rgba(56, 61, 74, 0.6);       

      border-radius: 8px;
      max-width: 99%;
      margin-bottom: 40px;
      padding: 24px;
      margin-left: 5px;



    }

    .mobilecard{
      /*border: 2px solid rgba(142, 184, 229, .5);*/
      background-color: rgba(56, 61, 74, 0.6);       
      border-radius: 8px;
      max-width: 99.0%;
      margin-bottom: 24px;
      margin-top: 24px;
      padding: 16px;
      margin-left: 2em;
      margin-right: 2em;
      display: none;
    }

    a .mobilecard{
      color: white;
    }

    .mobilecardcol{
      width: 100%;
      display: inline-block;
    }

    .mobilecard img{
      max-width: 100%;
    }


    .mobilecard h3{
      margin: 0px;
      margin-top: 16px;
      margin-bottom: 16px;

    }

    .cardcol{
      width: 49%;
      vertical-align: top;
      display: inline-block;
      
      }

      

      

    .portfoliocontainer .longcardtype:hover{
      transform: scale(1.02); 
      transition: transform 0.1s ease-in;
      /*background-image: linear-gradient(to right bottom, #805fd3, #747adf, #7191e5, #7aa5e6, #8eb8e5); */
      box-shadow:0px 0px 0px 2px white inset; 
      background-color: rgba(56, 61, 74, 1);       

   
    }

    

    .portfoliocontainer .longcardtype img{
      border-radius: 0px;
      max-width: 100%;

    }
    .portfoliocontainer .longcardtype p {
      max-width: 100%;
      margin-left: 24px;
  
      
    }
    .portfoliocontainer .longcardtype h3 {
      max-width: 100%;
      margin-left: 24px;
      vertical-align: baseline;


      
    }



    .bchip {
      display: inline-block;
      height: 24px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      margin-right:8px;
      background-color: #526CAC;
      margin-bottom: 24px;
      line-height: 6px;

    }

    .pchip {
      display: inline-block;
      height: 24px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      margin-right:8px;
      background-color: #62ADE4;
      margin-bottom: 24px;
      line-height: 6px;


    }

    .rchip {
      display: inline-block;
      height: 24px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      margin-right:8px;
      background-color: #1563FF;
      margin-bottom: 24px;
      line-height: 6px;

      

    }

    

      footer{
          margin-top: 32px;
          text-align: center;
      }

      footer h4{
          font-weight: bold;
          margin-top: 2em;
      }

      footer p{
          text-align: center;
      }


      .center {
        margin: auto;
        text-align: center;
        width: 50%;
        padding: 4px;
      }

      .profilepic{
        border-radius: 12px;
        max-width: 75%;
        margin-top: 16px;
        margin-left: 10em;
      }


      .mobilepic{
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
        width: 50%;
        display: none;
      }
      
      
      .about{
          width: 80%;
          
      }

      .aboutcontainer{
        margin-left: 12.5em;
      display: grid;
      gap: 8px 8px;
      grid-template-columns: auto auto auto;
      margin-top: 1em;
      margin-bottom: 2em;
      }

      .tcontainer img{
        justify-content: center;
        margin: 2em;
        max-width: 90%;
      }

      .music{
        margin-left: 12em;
      }

      .music h3{
        margin-bottom: 24px;
      }

      .music iframe{
        margin-left: -2em;
      }
      hr{
          background-color:var(--accent);
          border-color: var(--accent);
          color: var(--accent);
          margin-right: 24px;
          margin-bottom: 8px;
      }



      h3{
          font-size: 20px;
          
          margin: 8px;
      }
    
    .aboutcol{
        width: 80%;
        display: inline-block;
    }

    .aboutcol iframe{
      margin-top: 1em;
      justify-content: left;
      text-align: left;
      float: left;
    }
    .aboutcolhide{
        width: 33%;
        display: none;
    }

    .aboutcol h5{
      font-size: 20px;
    }

    .portfoliocover{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;

    }
    
    .portimage{
        margin-left: auto;
        margin-right: auto;
        padding: 24px;
        text-align: center;
        justify-content: center;
        max-width: 75%;
        display: block;
        
    }

    video{
      margin-left: auto;
        margin-right: auto;
        padding: 24px;
        text-align: center;
        justify-content: center;
        display: block;
    }

    .portcontrols{
      margin-top: 16px;
    }

    .portslide{

      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      justify-content: center;
      display: block;
    }

    .portslide2{

      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      justify-content: center;
      display: block;
    }

    .largeslide{

      width: 100%;
      margin: 0px;
      text-align: center;
      justify-content: center;
      display: block;
    }



    .sidesideimage{
        max-width: 50%;
        height: auto;
        padding: 24px;

    }

    

    .casestudy p{
        margin-right: 2em;
        font-size: 18px;
    }

    .casestudy{
      
      margin-left: 12.5em;
      margin-right: 12.5em;
      margin-top: 5em;


      justify-content: center;
    }
    .casestudy h3{
        max-width: 80%;
        margin: auto;
        font-size: 24px;
        text-align: center;
    }

    .casestudy h2{
      font-size: 48px;
      display: inline-block;
  vertical-align: middle ;
    }

    .casestudy h4{
   
      margin: auto;
      font-size: 24px;
  }



  .casestudy hr{
    display: flex;
   
    background-color:white;
    border-color: white;
    color: black;
  }
  

    .casestudy .sectionNum{

      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 4px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      margin-right:12px;
      color: white;
      background-color: #1563FF;
      margin-bottom: 0px;
      text-align: center;
      margin-top: 5em;


    }

    .problemscreen{
      font-size: 72px;
      background-color: white;
      color: black;
      padding-top:  3em;
      padding-bottom:  3em;
      padding-left: 2.5em;
      padding-right: 2em;
      margin-right: -2.75em;

      margin-left: -5em;
      margin-top: 0.5em;
      

      text-align: left;
     

    }

    .sneakpeek{
      font-size: 72px;
      background-color: #f0f0f1;
      color: black;
      padding-top:  1em;
      padding-bottom:  1em;
      padding-left: 5em;
      padding-right: 5em;
      margin-right: -2.75em;

      margin-left: -5em;
      margin-top: 0.5em;
      

      text-align: left;
     

    }

    

    .howmightwe{
      font-size: 72px;
      background-color: var(--accent);
      color: black;
      padding-top:  3em;
      padding-bottom:  5em;
      padding-left: 2.5em;
      padding-right: 2em;
      margin-right: -2.75em;

      margin-left: -5em;
      

      text-align: left;
     

    }

    .howmightwe p{
      font-size: 32px;
      max-width: 100%;
      margin-left: 6em;
      margin-right: 5em;
      
     

    }

    
    
    .howmightwe .sectionNum{
      margin-left: 12em;
      margin-right: -0.5em;
      padding-bottom: 10px;
      background-color: white;
    }

    .howmightwe h2{
      vertical-align: bottom;
    }



    .problemscreen p{
      font-size: 32px;
      max-width: 100%;
      margin-left: 6em;
      margin-right: 5em;
      
     

    }

    
    
    .problemscreen .sectionNum{
      margin-left: 12em;
      margin-right: -0.5em;
      padding-bottom: 10px;
    }

    .problemscreen h2{
      vertical-align: bottom;
    }

    .timeline{
      max-width: 75%;
      justify-content: center;
    }

    .casestudy .contextcols{
      display: grid;
      gap: 8px 8px;
      grid-template-columns: auto auto auto;
      margin-top: 2em;
    }

    .casestudy .contextcols h2{
      text-align: left;
    }
    .casestudy .contextcolone{
     /* width: 75%;
      display: block;*/
      grid-column-start: 1;
        grid-column-end: 3;
        max-width: 100% ;
    }

    .stepcol{
      grid-column: auto;
      display: block;
      
    }

    .casestudy .contextcolone p{
      margin-left: 0em;
      max-width: 100%;

    }
    .casestudy .contextcoltwo{
      grid-column-end: 5;
      font-size: 18px;
     
      max-width: 100% ;
    }

    .researchcol{
      grid-column-start: 1;
      grid-column-end: 4;
      font-size: 18px;
     
      max-width: 100% ;
      
    }

    .researchcoltwo{
      grid-column-start: 3;
      grid-column-end: 5;
      font-size: 18px;
     
      max-width: 50% ;
      
    }

    .casestudy a{
        
        font-weight: bold;
    }

    .casecontrols{
      margin-top: 5em;
    }

    .quote{
        font-weight: 700;
    }

    
  
    

    /*                                                             THIS IS ALL RESPONSIVE DESIGN UNDER HERE                                                             */

    /************************************************************ Phone Sizes  ******************************************************************/

    @media screen and (max-width: 700px) {
     
      
      
          .newHero{
            margin-top: 72px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 40px;
            row-gap: 24px;
          }

          .newHero h1{
            font-size: 32px;
            grid-column-start: 1;
            grid-column-end: 5;

          
          }

          .newHero h3{
            grid-column-start: 1;
            grid-column-end: 5;

          
          }

          .blkwrapper{
            margin-top: 24px;
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 40px;
          }

          .whitewrapper{

            margin-top: 24px;
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 40px;

          }

          .whitewrapper .rightwrapper{
            grid-column-start: 1;
            grid-column-end: 5;
          }

          .whitewrapper h4{
            margin-bottom: 24px;
          }
          

          .blkwrapper .blk-description{
            grid-column-start: 1;
            grid-column-end: 5;
            margin-bottom: 40px;
          }
          .blkwrapper .blk-description h4{
            font-size: 20px;
          }

          .blkwrapper .blk-description p{
            font-size: 16px;
          }

          .blkwrapper .onleft{
            grid-column-start: 1;
            grid-column-end: 5;
          }

          .blkwrapper .onrighttwo{
            grid-column-start: 1;
            grid-column-end: 5;
          }

          .blkwrapper .onrighttwo h4{
            font-size: 20px;
          }

          .blkwrapper .onrighttwo p{
            font-size: 16px;          }

            .blkwrapper h4{
              font-size: 20px;
            }

            .blkwrapper p{
              font-size: 16px;
            }

          .fullwrap h4{
            font-size: 20px;
          }

          .fullwrap  p{
            font-size: 16px;
          }

          .portimage{
            max-width: 100%;
          }

          .center{
            width: 100%;
          }

        
          .problemcard{
            padding: 24px;
          }

          .nextto{
            gap: 16px;
          }
        
      
        

          h1{
            font-size: 20px;
          }

          .herosec h2{
            font-size: 16px;
          }

          
        
           nav ul li {
            margin: 4px;
            font-size: 20px;
            margin-top: 1em;
            margin-right: 2.5em;



          }

          nav ul.show {
            transform: translateX(0);
          }

          .indexnav a{
            color: white;
          }

          #title{
            color: black;
          }

          .indexnav .sm_icon {
            filter: invert(98%) sepia(2%) saturate(226%) hue-rotate(229deg) brightness(118%) contrast(100%);
                  }
        

        .burger-menu {
            display: block;
          }

          .hero{
            font-size: 24px;
            margin-top: 24px;
        }

        body {
            margin: auto;
          }

        .index{
          margin-left: 2em;
          margin-right: 2em;

        }

        .casecontrols{
          display: none;
        }
        .logo{
            margin-left: -1em;
            width: 100%;
            display: none;
        }

        .casestudystyletwo{
          margin-left: 40px;
          padding-right: 100px;
          margin-top: 24px;
          margin-right: 0px;
         
        }

        .casestudystyletwo h2{
          font-size: 20px;
        }

        
        .c2title img{
          width: 48px;
          height: 48px;
        }




        .mobilelogo{
            display: none;
        }

        .whitewaves{
          margin-left: 2em;
          margin-right: 2em;
        }



        .aboutcol{
            display: none;
        }

        p{
            font-size: 12px;
        }

        

        .about{
            width: 85%;
           margin-left: 2em;      

        }

        .abouthero{
          margin-left: 1.2em;
          font-size: 24px;
          margin-top: 24px;

        }

       

        .aboutcontainer{
          display: none;
        }

        .mobilepic{
            display: block;

        }

        h3{
            font-size: 16px;
        }

        li{
            font-size: 14px;
        }
          
       
        .grid-item{
            display: inline-block;
            max-width: 700px;
            margin-bottom: 12px;
        }

        .mobile-container{
            display: none;
            margin-left: 2em;
            margin-right: 2em;


        }
        .profilepic{
          margin-left: 40px;
        }


        .mobilecard{
          display: none;
        }

        .maxcard{
          margin-top: 0px;
        }

        .grid-container{
            display: none;
        }

        .portfoliocontainer{
          margin-left: 2em;
          margin-right: 2em;

        }

        .portslide{
          max-width: 100%;
     
        }
        .portslide2{
          max-width: 100%;


        }

        .spacer{
    
          padding-top: 20px;
          padding-left: 40px;
          padding-right: 40px;
        }

        .fullwidth{
          display:none;
        }

        .casestudy{
          margin: 2em;
        }
        .casestudy p{
          /*margin-left: 0px;*/
          font-size: 14px;
          margin: auto;          
        }

        video{
          height: 300px;
          width: 300px;
        }

        .pastexperience{
          display: none;
        }
        .portfoliocover{
          display: none;
          margin-bottom: 24px;
        }

        .casestudy .h4{
          font-size: 20px;
        }
        .casestudy .tinycol{
          flex-direction: column;
          max-width: 100% ;
        }
        .casestudy .largecol{
          display: none;
          flex-direction: column;
          max-width: 100% ;
        
        max-width: 100% ;
        }

        .caserow{
          grid-template-columns: 100%;
          margin-top: 1em;
        }

        .imagebox{
          display: none;
        }

        .portbox{
          display: block;
        }
        .column{
          width: 100%;
        }
        .mobilehide{
          display: block;
        }

        .problemscreen{
        
          padding-top:  1em;
          padding-bottom:  1em;
          padding-left: 1em;
          padding-right: 0.5em;
          margin-right: -.4em;

          margin-left: -1em;
          margin-top: 0.5em;
          

          text-align: left;
        

        }
        .problemscreen .sectionNum{
          margin-left: 0em;
        }

        .howmightwe{
        
          padding-top:  1em;
          padding-bottom:  1em;
          padding-left: 1em;
          padding-right: 0.5em;
          margin-right: -.4em;

          margin-left: -1em;
          

          text-align: left;
        

        }

        .casestudy .contextcols{
          display: block;
        }

        .casestudy .contextcoltwo{

          margin-top: 24px;
        }
        .howmightwe .sectionNum{
          margin-left: 0em;
        }
      }

          /************************************************************ Normal Laptop Sizes  ******************************************************************/

      @media screen and (min-width: 992px) {

          
        .topwide {
            max-width: 100% ;
    
          }
          .toplong {
            max-width: 100% ;
    
          }
          .middle {
           max-width: 100%;
           max-height: 100%;
    
          }
          .sidelong {
           max-width: 100% ;
    
          }
          .sidewide {
          max-width: 100%;
           /*margin-top: 4px;*/
        
    
          }

          .aboutcol{
              margin-top: 16px;
          }

          
         

      }

                /************************************************************ Really Big Screen Sizes  ******************************************************************/


      @media screen and (min-width: 1500px) {
        .aboutcolhide{
            display: inline-block;
        }

        

       

        

      }